.slider-one {
    background-image: url(../../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.slider-text {
    margin-left: 68px;
    padding-top: 164px;
}

.slider-text p:nth-child(1) {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

.slider-text p:nth-child(2) {
    font-size: 100px;
    margin-top: 15px;
    line-height: 116%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.slider-one-bt {
    width: 287px;
    height: 81px;
    border-radius: 50px;
    border: none;
    background-color: #ff6a9f;
    margin-left: 43px;
    position: relative;
    left: 10px;
    position: relative;
    left: 533px;
    bottom: 97px;
}

.slider-one-bt div {
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 34px;
    background-color: #000;
    border: 4px solid #ff91b8;
    border-radius: 50%;
    margin-left: -38px;
}

.slider-one-bt h6 {
    color: #000;
    font-size: 23px;
    font-weight: 500;
    margin-left: 19px;
}

.slider-one-il {
    display: inline-block;
}

.slider-one-img {
    position: relative;
    bottom: 645px;
}

.slider-one-abs {
    position: relative;
    width: 50px;
    top: 0;
    left: 0;
}

.slider-one-img-layer1 {
    width: 114px;
    top: 85px;
}

.slider-one-img-layer2 {
    width: 70px;
    top: 3px;
    left: 620px;
}

.slider-one-img-layer3 {
    width: 70px;
    top: -20px;
    left: 721px;
}

.slider-one-img-layer4 {
    width: 565px;
    top: 150px;
    left: 160px;
}

.slider-one-img-layer5 {
    width: 97px;
    top: 205px;
    left: 44px;
}

.slider-one-img-layer6 {
    width: 70px;
    top: 480px;
    left: -883px;
}

.slider-one-img-layer7 {
    width: 253px;
    top: 474px;
    left: 43px;
}

.slider-one-img-layer8 {
    width: 62px;
    top: 494px;
    left: 116px;
}

.slider-one-img-layer9 {
    width: 192px;
    top: 549px;
    left: 250px;
}
