.slider-one {
    background-image: url(../../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.slider-text {
    margin-left: 68px;
    padding-top: 164px;
}

.slider-text p:nth-child(1) {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

.slider-text p:nth-child(2) {
    font-size: 100px;
    margin-top: 15px;
    line-height: 116%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.slider-one-bt {
    width: 287px;
    height: 81px;
    border-radius: 50px;
    border: none;
    background-color: #ff6a9f;
}

.slider-one-bt div {
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 34px;
    background-color: #000;
    border: 4px solid #ff91b8;
    border-radius: 50%;
    margin-left: -53px;
}

.slider-one-bt h6 {
    color: #000;
    font-size: 23px;
    font-weight: 500;
}

.slider-one-il {
    display: inline-block;
}