.slider-three {
    background-image: url(../../img/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.slider-three-text {
    margin-left: 354px;
    padding-top: 164px;
    text-transform: uppercase;
}

.slider-three-text h2:nth-child(1) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 27px;
    letter-spacing: 3px;
}

.slider-three-text h2:nth-child(2) {
    font-size: 99px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 12px;
    margin-left: -8px;
}

.slider-three-container {
    max-width: 700px;
    height: 264px;
    margin-left: 245px;
    margin-top: 64px;
}

.slider-three-container-text {
    background-color: #fff;
    width: 392px;
    height: 100%;
    border-radius: 0 35px 35px 0;
    box-shadow: 0 0 5px 2px rgba(122, 122, 122, 0.2);
}

.slider-three-container-text p {
    font-size: 25px;
    padding: 55px;
    padding-left: 70px;
}

.slider-three-img {
    position: relative;
    bottom: 645px;
}

.slider-three-abs {
    position: relative;
}

.slider-three-img-icon2 {
    width: 67px;
    top: -271px;
    left: 74px;
}

.slider-three-img-icon1 {
    position: relative;
    width: 67px;
    top: -129px;
    left: -1px;
}

.disinbl {
    display: inline-block;
}

.slider-three-two-container {
    height: 100%;
    width: 263px;
    float: right;
}

.slider-three-two-container div:nth-child(1) {
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(122, 122, 122, 0.2);
    width: 100%;
    height: 148px;
    border-radius: 35px;
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 37px;
    box-sizing: border-box;
}

.slider-three-two-container div:nth-child(2) {
    cursor: pointer;
    width: 263px;
    height: 82px;
    background-color: #ff6a9f;
    border-radius: 50px;
    margin-top: 34px;
}

.slider-three-two-container {
    display: inline-block;
}

.slider-three-two-container span {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    display: table-cell;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    border: 2px solid #ff94ba;
    display: inline-block;
    margin: 15px;
}

.slider-three-two-container p {
    display: table-cell;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.slider-three-img-bottle5 {
    width: 234px;
    top: 78px;
    left: -215px;
}

.slider-three-img-bottle1 {
    width: 37px;
    top: -589px;
    left: 181px;
}

.slider-three-img-bottle2 {
    width: 57px;
    top: -58px;
    left: 210px;
}

.slider-three-img-bottle3 {
    width: 110px;
    top: -278px;
    left: 86px;
}

.slider-three-img-bottle4 {
    width: 40px;
    top: -464px;
    left: -141px;
}

.slider-three-img-bottle6 {
    width: 71px;
    top: -469px;
    left: -311px;
}

.slider-three-img-bottle7 {
    width: 34px;
    top: -199px;
    left: -548px;
}

.slider-three-img-bottle8 {
    width: 76px;
    top: -56px;
    left: -572px;
}

.slider-three-img-bottle9 {
    width: 137px;
    top: 77px;
    left: -465px;
}